<h1><%= @team.name %></h1>
<h2><%= @team.sport %></h2>
<h3><%= @team.description %></h3>
<h6> These players play in this team: </h6>
	<% @dummy1.each do |u| %>
	   User ID: <%= u.id %> --- Email: <%= u.email %> <br>
	<% end %>
	

    Current User: <%= @test1 %>
    <%= button_to " Join Team ", :class => "btn", :action => "addToUser", :id => @team.id  %> 
    <%= button_to " - ", :class => "btn", :action => "addToUser", :id => @team.id %> 
	<%= link_to "Teams", teams_path %>


