<h2>Create a new league</h2>

<%= form_for @league, :html => {:class => "nifty_form form-horizontal"} do |f| %>

  <%= render "shared/error_messages", :target => @league %>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %> 
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge"  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sport, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :sport, :class => "input-xlarge"  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :class => "input-xlarge" , :size => "60x12" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Create', :class => "btn" %>
    </div>
  </div>
<% end %>
